@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  width: 450px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FCA5A5;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 18px;
  line-height: 1;
}
.loginContainer_Info {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: black;
  color: #fff;
}
.loginContainer_Info p{
  padding: 5px;
}
.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 10px;
  color: black;
  letter-spacing: 1px;
  border-radius: 30px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
}
.btnContainer button{
  border-radius: 30px;
}
.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  width: 100%;
}

.hero nav {
  background: #FCA5A5;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h1 {
  color: #fff;
  font-size: 20px;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  border-radius: 30px;
  background: black;
  color: #fff;
}